@model WishlistEmailAFriendModel
@using Nop.Core.Domain.Seo
@using Nop.Core.Domain.Common
@using Nop.Core
@using Nop.Services.Configuration
@using Nop.Services.Media
@inject ISettingService settingService
@inject IPictureService pictureService
@inject IStoreContext storeContext
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.WishlistEmailAFriend").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-email-a-friend-page");
}

@{
    var store = await storeContext.GetCurrentStoreAsync();
    var breadcrumbBackgroundPictureId = await settingService.GetSettingByKeyAsync<int>("berrysettings.breadcrumbbackgroundpictureid", storeId: store.Id, loadSharedValueIfNotFound: true);
    var breadcrumbBackgroundPictureUrl = await pictureService.GetPictureUrlAsync(breadcrumbBackgroundPictureId);
}
@section Breadcrumb {
    <div class="breadcrumb" style="background-image: url('@breadcrumbBackgroundPictureUrl');">
        <div class="page-title">
            <h1>@T("Wishlist.EmailAFriend.Title")</h1>
        </div>
    </div>
}
<div class="page email-a-friend-page">
    <div class="page-body my-4">
        <div class="custom-container-fluid">
            <div class="row">
                <div class="col-md-8 m-auto">
                    @if (Model.SuccessfullySent)
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    else
                    {
                        <form asp-route="EmailWishlist" method="post" class="border p-4">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <div class="fieldset">
                                <div class="form-fields">
                                    <div class="inputs form-group">
                                        <label asp-for="FriendEmail" asp-postfix=":"></label>
                                        <input asp-for="FriendEmail" class="friend-email form-control" placeholder="@T("Wishlist.EmailAFriend.FriendEmail.Hint")" />
                                        <span asp-validation-for="FriendEmail"></span>
                                    </div>
                                    <div class="inputs form-group">
                                        <label asp-for="YourEmailAddress" asp-postfix=":"></label>
                                        <input asp-for="YourEmailAddress" class="your-email form-control" placeholder="@T("Wishlist.EmailAFriend.YourEmailAddress.Hint")" />
                                        <span asp-validation-for="YourEmailAddress"></span>
                                    </div>
                                    <div class="inputs form-group">
                                        <label asp-for="PersonalMessage" asp-postfix=":"></label>
                                        <input asp-for="PersonalMessage" class="personal-message form-control" placeholder="@T("Wishlist.EmailAFriend.PersonalMessage.Hint")" />
                                        <span asp-validation-for="PersonalMessage"></span>
                                    </div>
                                    @if (Model.DisplayCaptcha)
                                    {
                                        <div class="captcha-box">
                                            <nop-captcha />
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="buttons text-left">
                                <input type="submit" name="send-email" class="button-blank send-email-a-friend-button" value="@T("Wishlist.EmailAFriend.Button")" />
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
